
header
{
    background-image:linear-gradient(to right, rgba(0, 200, 255, 0.301), rgba(146, 254, 157, 0.301)),url('../img/others/image-0.jpg');
    background-position: center; 
    background-size: cover;
}

@media screen and (max-width:994px)
{
    .columns
    {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media screen and (max-width:764px)
{
    header
    {
        height: 25em;
    }
}

@media screen and (max-width:450px)
{
    header
    {
        height: 23em;
    }
    .hero-body .column h1{
        font-size: 2em;
    }

    .hero-body .column h2{
        font-size: 1em;
    }
    .hero-body .column .block p{
        font-size: 16px !important; 
        font-weight: normal !important;
    }
}